header{
    width: 100%;
    height: 70px;
    background-color: #FF0000;
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
}

.logo{
    background-image: url("/web_static/images/logo.png");
    height: 100%;
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 20px;
}
